<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259601724507-ujdi7b7i7ad7v04lvic0tf2qajfh0vcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259601724507-ujdi7b7i7ad7v04lvic0tf2qajfh0vcc</string>
	<key>API_KEY</key>
	<string>AIzaSyDUe1GKd-ASgGAAVgvykG-TB3avprdQs-w</string>
	<key>GCM_SENDER_ID</key>
	<string>259601724507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myshopapp</string>
	<key>PROJECT_ID</key>
	<string>myshopapp-6fea8</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopapp-6fea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259601724507:ios:0313bc51c5d89754657b7e</string>
</dict>
</plist>